	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/04/2017 04:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;

}

.flaticon-gym:before { content: "\f100"; }
.flaticon-mat-for-fitness:before { content: "\f101"; }
.flaticon-meditation-yoga-posture:before { content: "\f102"; }
.flaticon-lotus:before { content: "\f103"; }
.flaticon-jumping-rope:before { content: "\f104"; }
.flaticon-pilates-mat:before { content: "\f105"; }
.flaticon-dumbbell-training:before { content: "\f106"; }
.flaticon-light-bulb-outline:before { content: "\f107"; }
.flaticon-paper-plane:before { content: "\f108"; }
.flaticon-trophy:before { content: "\f109"; }